*,
*::before,
*::after {
  box-sizing: border-box;
}

.section {
  display: grid;
  grid: auto-flow / minmax(1em, 1fr) minmax(300px, 650px) minmax(1em, 1fr);
  padding: 5em 0;

  &__title,
  &__subtitle,
  p {
    grid-column: 2 / 3;
  }
}
