nav {
  color: $clr-brown-light;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-top: 0.5em solid $clr-brown-light;
  ul {
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    list-style: none;
    margin: 1em auto 0;
    padding: 0;
  }
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
